# {{ ansible_managed }}
[Desktop Entry]
Encoding=UTF-8
Name=PyCharm
Comment=PyCharm
Exec=pycharm
Icon={{ pycharm_install_prefix }}/{{ pycharm_folder_name }}/bin/pycharm.png
Terminal=false
Type=Application
Categories=GNOME;Application;Development;
StartupNotify=true